body{
margin:4em 8em 0 8em;
background-image:url(../images/spring.JPG);
background-attachment:fixed;
}

header{
  color:white;
}

#main_content{
background-image:url(../images/body-bg.png);
background-repeat:repeat;
padding:1em;
}

#downloads li{
display:inline;
}

#downloads img{
vertical-align:middle;
}

#musicControl{
float:right;
background-color:white;
}

audio{
display:none;
}

footer {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

#toolbar{
float:right;
}

.thumbnails img{
height:10em;
}


#sidebarImg1{
width:49%;
margin:19%;
border-radius:50%;
}

#sidebar{
padding-left:4%;
}


#sidebar ul{
list-style-type:none;
}

#sidebar li{
margin-top:-2em;
padding:0.5em;
}


#sidebar pre{
font-size:90%;
text-indent:5%;
margin-top:-19%;
background:none transparent;
border:none;
}

#mainContent{
	min-height:20em;
	font-size:3em;
}
#mainContent button{
	display:block;
	height:1.5em;
	margin-bottom:1em;
    font-size:2em;
}
#mainContent p{
line-height:2em;
font-size:1.8em;
margin-bottom;1em;

}
table{
	text-align:center;
	margin:1em 0;
}
.even{
	height:4em;
	vertical-align:0.1em;
}
table img{
	width:60%;
}
h3{
	border-bottom:dotted thin white;
}