body{
margin:4em 8em 0 8em;
background-image:url(../images/spring.JPG);
background-attachment:fixed;
}

header{
  color:white;
}

#main_content{
background-image:url(../images/body-bg.png);
background-repeat:repeat;
padding:4em;
}

#downloads li{
display:inline;
}

#downloads img{
vertical-align:middle;
}

#musicControl{
float:right;
background-color:white;
}

#noter{
position:fixed;
top:1em;
right:1em;
}

#noter textarea{
font-size:0.5em;
width:6em;
height:8em;
background-image:url('../images/note-bg.PNG');
background-repeat:repeat;
display:none;
}

audio{
display:none;
}

footer {
text-align:center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

#toolbar{
float:right;
}

.thumbnails img{
height:10em;
}


#sidebarImg1{
width:62%;
margin:19%;
border:silver dashed 0.1em;
}

#sidebarImg2{
margin-top:-20%;
width:90%;
}


#sidebar ul{
list-style-type:none;
}

#sidebar li{
margin-top:-2em;
padding:0.5em;
}


#sidebar pre{
font-size:90%;
text-indent:5%;
color:purple;
margin-top:-19%;
background:none transparent;
border:none;
}

#learning .thumbnail{
background-color:white;
}

#learning .thumbnail img{
height:5em;
}

.blogList li{
	list-style-type:square;
}

#centerSide h3{
	border-bottom:white dashed thin;
}

pre.code textarea{
	width:98%;
}
.blogList a{
	color:black;
	font-weight:bold;
}

#mainContent{
	min-height:20em;
	font-size:3em;
}
#mainContent button{
	display:block;
	height:1.5em;
margin_bottom:1em;
        font-size:2em;
}
#mainContent p{
line-height:2em;
font-size:1.8em;
margin-bottom;1em;

}
